@media screen and (max-width: 640px) {
    .banner__h {
        font-size: 47px;
    }
}



@media screen and (max-width:568px) {
    .header__wrap{
        flex-direction: column;
        gap: 15px;
    }
}



@media screen and (max-width: 470px){
    .banner {
        font-size: 33px;
    }
    
    .banner__p {
        font-size: 14px;
    }
    
    .banner__links {
        flex-direction: column;
        align-items: center;
    }
} 